<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="A podcast of deep, thorough explanations about physics, engineering, and technology" />
    <meta name="robots" content="all" />
    <meta name="author" content="Shane Swenson and Dave Smith" />
    <link rel="alternate" type="application/rss+xml" title="RSS podcast feed for Explainercast" href="/feed.xml" />

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="A podcast of deep, thorough explanations about physics, engineering, and technology" />
    <meta property="og:image" content="{{ site.hero_image_url }}" />

    <style>
    body {
      font-family: arial;
      background: #def;
    }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
